@using BlazorCommerceWebApp.Client.Services.ProductService
@using BlazorCommerceWebApp.Shared
@page "/product/{Id:int}"
@inject IProductService ProductService

@if (_product == null)
{
    <img class="media-img" src="https://www.artzstudio.com/content/images/wordpress/2020/05/404-error-not-found-page-lost.png"/>
    <p>@_message</p>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@_product.ImageUrl" alt="@_product.Name"/>
        </div>
        <div class="media-body">
            <h2 class="mb-0">@_product.Name</h2>
            <p>@_product.Description</p>
            <h4 class="price">$@_product.Price</h4>
        </div>
    </div>
}

@code {
    private Product? _product = null;
    private string? _message;
    
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _message = "Loading Product...";
        var result = await ProductService.GetProduct(productId: Id);

        if (!result.Success)
            _message = result.Message;
        else
        {
            _product = result.Data;
        }
    }
}
